!!! 5
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %title Pieces

  %body
    %header
      .wrapper.clearfix
        #logo= link_to "Pieces", root_path
        %nav
          - if user_signed_in?
            = link_to current_user.name, edit_user_registration_path
            = link_to 'Add New Piece', new_post_path, class: "button"
          - else
            = link_to 'Sign In', new_user_session_path
            = link_to 'Sign Up', new_user_registration_path, class: "button"

    .wrapper
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
    .wrapper
      = yield
